# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
*.iml
.idea/
*.classpath
*.project
*.settings/

# Logs
*.log

# Env files
.env
application.properties
application.yml

# OS
.DS_Store
Thumbs.db
